.Pattern1 {
  .images-container {
    // background-color: orange;
    height: 30vh;
    width: 40vw;
    margin: auto;
    transform: translateY(40vh);

    &:hover .image,
    .unactive {
      filter: grayscale(100%) opacity(5%);
    }

    .image {
      height: 30vh;
      width: fit-content;
      position: absolute;
      transition: 0.3s all;

      &:not(.unactive):hover {
        cursor: pointer;
        filter: none !important;
        z-index: 10;
        transform: scale(1.1);
      }

      img {
        height: 100%;
      }

      &.active {
        transform: scale(1.8);
        filter: none !important;
        z-index: 10 !important;

        right: 0 !important;
        top: 0 !important;
        bottom: 0 !important;
        left: 0 !important;

        .imageTitle {
          // font-size: 9pt;
          opacity: 0;
        }

        &:hover {
          transform: scale(1.85);
        }
      }

      .imageTitle {
        margin: 0;
        width: fit-content;
        position: absolute;
        font-style: italic;
        opacity: 0.5;
        transition: 0.3s all;
      }
    }

    #image1 {
      //   background-color: red;
      top: -15vh;
      right: -5vh;

      .imageTitle {
        top: -3vh;
        left: 10vh;
      }
    }
    #image2 {
      //   background-color: blue;
      right: -15vh;
      bottom: -5vh;

      .imageTitle {
        right: -5vh;
        bottom: -3vh;
      }
    }
    #image3 {
      //   background-color: green;
      bottom: -15vh;
      left: -5vh;

      .imageTitle {
        bottom: -3vh;
        left: 10vh;
      }
    }
    #image4 {
      //   background-color: yellow;
      top: -5vh;
      left: -15vh;

      .imageTitle {
        left: 5vh;
        top: -3vh;
      }
    }
  }

  .comments-container {
    height: fit-content;
    width: 100%;
    position: absolute;

    top: 0;

    .comment {
      position: absolute;
      transition: 0.5s ease all;
      left: -100vw;
      width: 40vw;
      display: flex;
      align-items: center;

      top: 85vh;

      .commentContent {
        display: flex;
      }

      &.active {
        left: 20vw;
      }

      .back {
        height: 30px;
        transform: rotate(90deg);
        margin-right: 20px;
        margin-left: 5px;
        transition: all 0.3s ease;

        &:hover {
          cursor: pointer;
          margin-left: 0;
          margin-right: 25px;
        }
      }

      .commentTitle {
        font-weight: bold;
        margin-right: 2vh;
      }
    }
  }
}

$--breakpoint-min-small-devices: 600px;
$--breakpoint-min-medium-devices: 768px;
$--breakpoint-min-regular-devices: 992px;
$--breakpoint-min-large-devices: 1200px;

@media screen and (max-width: $--breakpoint-min-large-devices) {
  .Pattern1 {
    height: 100vh;
    position: relative;

    .images-container {
      margin: 0;
      transform: none;

      .PatternImageComponent {
        display: flex;
        justify-content: center;
        width: 100vw;

        .image {
          position: initial;
          height: 25vh;

          top: auto !important;
          right: auto !important;
          bottom: auto !important;
          left: auto !important;

          .imageTitle {
            display: none;
          }

          &:not(.unactive):hover {
            transform: none;
            z-index: -1;
          }

          &.active {
            transform: none;

            &:hover {
              transform: none;
            }
          }
        }
      }
    }

    .comments-container {
      width: auto;
      z-index: 10;

      .comment {
        position: initial;
        left: -100vw;
        height: 25vh;
        background-color: var(--main-dark-color);
        width: 0;
        overflow: hidden;

        border-right: var(--main-pink-color) solid 1vw;

        .commentContent {
          display: initial;
        }

        &.active {
          width: 99vw;
        }
      }
    }
  }
}
