.Contact {
  background-color: var(--main-dark-color);

  .content {
    display: flex;
    width: 80vw;
    min-height: var(--height-content);
    margin-top: 8vh;
    position: relative;
    margin-left: 0;

    h2 {
      border-bottom: solid 1px white;
      width: 100%;
      margin: 2vh 0 0 0;
    }

    .contactMail {
      width: 100%;
      position: relative;

      .mailContent {
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0;

        .email {
          float: right;
          width: 100%;
          text-align: end;
          position: relative;
          margin: 2vh 0 0 0;
        }

        .mailForm {
          margin-top: 7vh;
          position: absolute;
          width: 100%;

          .formSendMail {
            position: relative;
            width: 100%;

            .formDivItem {
              width: 100%;

              textarea {
                min-height: 22vh;
                max-width: 100%;
                min-width: 100%;
              }

              input,
              textarea,
              button {
                // border-radius: 5px;
                padding: 12px;
                margin-top: 1vh;
                width: 100%;
                box-sizing: border-box;
                color: white;
                font-family: main-font;

                &:focus {
                  outline: none;
                }
              }

              button {
                border: solid rgba(30, 31, 33, 0.3) 1px;
                background: transparent;
                font-style: italic;
                text-align: end;

                &:hover {
                  cursor: pointer;
                  background: #f24b59;
                  border-color: #f24b59;
                }
              }

              input,
              textarea {
                border: none;
                background-color: rgba(30, 31, 33, 0.3);

                &::-webkit-input-placeholder {
                  font-family: main-font;
                }

                &:-ms-input-placeholder {
                  font-family: main-font;
                }

                &:-moz-placeholder {
                  font-family: main-font;
                }

                &::-moz-placeholder {
                  font-family: main-font;
                }
              }
            }
          }
        }
      }
    }

    .contactTel {
      position: absolute;
      width: 30%;
      bottom: 15vh;
      right: 0;
    }
  }
}

$--breakpoint-min-small-devices: 600px;
$--breakpoint-min-medium-devices: 768px;
$--breakpoint-min-regular-devices: 992px;
$--breakpoint-min-large-devices: 1200px;

@media screen and (max-width: $--breakpoint-min-small-devices) {
  .Contact {
    height: 130vh;

    .overline {
      font-size: 30pt !important;
      font-weight: bolder;
      top: -4vh !important;
      left: -5vh !important;
      -webkit-text-fill-color: rgba(242, 121, 121, 0.3);
      -webkit-text-stroke-color: rgba(242, 121, 121, 0.3);
      -webkit-text-stroke-width: 0px;
    }

    .principal_content {
      top: 12vh;
    }

    .content {
      min-height: 70vh;
      width: 100vw;
      margin-left: 0;
      margin-top: 10vh;
      transform: translate(-15vw, 0px);

      h2 {
        padding-left: 5vw;
      }

      .contactMail {
        left: -5vw;

        .mailContent {
          position: absolute;
          width: 90%;
          top: auto;
          left: 5vw;

          .email {
            text-align: initial;
          }
        }
      }

      .contactTel {
        width: 100%;
        bottom: -10vh;
        left: -5vw;

        p {
          padding-left: 5vw;
        }
      }
    }

    .Line {
      display: none;
    }
  }
}
