.Footer {
    background: url('../../ressources/images/pattern1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    overflow: hidden;

    min-height: 70vh;
    position: relative;
    z-index: 2;
    display: flex;

    h1 {
        margin: auto;
        font-family: secondary-font;
        font-weight: lighter;
        font-size: 30pt;
    }
}