.Home {
    background-color: var(--main-dark-color);
    min-height: 100vh;

    h1 {
        font-family: secondary-font;
        font-weight: lighter;
        font-size: 30pt;
    }

    .presentation {
        position: relative;
        left: 3vw;
        top: 8vh;

        ul {
            padding: 0;
    
            li {
                list-style: none;
                font-size: 15pt;

                &:first-child {
                    font-weight: bold;
                    font-size: 20pt;
                }
            }
        }
    }

    .Button {
        position: absolute;
        bottom: 8vh;
        left: 50%;
        transform: translate(-50%, 0px);
        
        display: none;
    }
}


$--breakpoint-min-small-devices: 600px;
$--breakpoint-min-medium-devices: 768px;
$--breakpoint-min-regular-devices: 992px;
$--breakpoint-min-large-devices: 1200px;

@media screen and (max-width: $--breakpoint-min-small-devices) {
    .Home {
        padding-top: 14vh;

        #toDisplayNone {
            display: none;
        }

        .Logo {
            left: 50vw;
            position: absolute;

            img {
                height: 100px;
                transform: translate(-50%, 0px);
            }
        }

        .Button {
            display: block;
        }
      
    }
}


  