@for $i from 1 through 150 { 
    .Line-#{$i} {
      height: 1vh * $i;
    }
}

.Line {
  background-color: var(--line-color);
  position: absolute;
}

.Line-hoirzontal {
  height: 1px !important;
  min-width: 100%;
}

.Line-vertical {
  width: 1px;
}

.Line-shadow-top {
  box-shadow: 0px -5px 14px 1px black
}

.Line-shadow-bottom {
  box-shadow: 0px 5px 14px 1px black
}