.Logo {
    position: fixed;
    right: 3vw;
    top: 7vh;

    img {
        height: 50px;
    }
}

$--breakpoint-min-small-devices: 600px;
$--breakpoint-min-medium-devices: 768px;
$--breakpoint-min-regular-devices: 992px;
$--breakpoint-min-large-devices: 1200px;

@media screen and (max-width: $--breakpoint-min-small-devices) {
    .Logo {
        right: 7vw;
    }
}