.slick-slider {
  position: initial;
  height: var(--height-content);
}

.slick-slide div div {
  &:focus {
    outline: none !important;
  }
}

.slick-dots {
  li {
    width: auto;

    button {
      width: auto;
      line-height: 0;
      display: block;
      color: white;
      border: 0;
      outline: none;
      background: transparent;
      font-size: initial;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3),
        -1px -1px 3px rgba(255, 255, 255, 0.1);
      border-radius: 5px;

      &:hover {
        box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3),
          inset -1px -1px 3px rgba(255, 255, 255, 0.1);
      }

      &:before {
        content: none;
      }
    }
  }

  .slick-active {
    button {
      box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3),
        inset -1px -1px 3px rgba(255, 255, 255, 0.1);
    }

    &:after {
      content: ' ';
      height: 10px;
      width: 10px;
      position: absolute;
      background-color: var(--main-pink-color);
      border-radius: 50%;
      bottom: -15px;
      left: 50%;
      transform: translate(-50%, 0px);
      transition: all ease-in-out 0.2s;
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    }
  }
}

.slick-list {
  height: 100%;
}

.slick-arrow {
  background: url('../../ressources/images/button_without_border.png') center
    center no-repeat !important;
  background-size: cover !important;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition: all ease-in-out 0.2s;
}

.slick-next {
  transform: translate(0px, -50%) rotate(-90deg);
  right: -70px;
  box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.3),
    1px -1px 4px rgba(255, 255, 255, 0.1);

  &:hover {
    box-shadow: inset -1px 1px 4px rgba(0, 0, 0, 0.3),
      inset 1px -1px 4px rgba(255, 255, 255, 0.1);
  }

  &::before {
    display: none;
  }
}

.slick-prev {
  transform: translate(0px, -50%) rotate(90deg);
  left: -70px;
  box-shadow: 1px -1px 4px rgba(0, 0, 0, 0.3),
    -1px 1px 4px rgba(255, 255, 255, 0.1);

  &:hover {
    box-shadow: inset 1px -1px 4px rgba(0, 0, 0, 0.3),
      inset -1px 1px 4px rgba(255, 255, 255, 0.1);
  }

  &::before {
    display: none;
  }
}

$--breakpoint-min-small-devices: 600px;
$--breakpoint-min-medium-devices: 768px;
$--breakpoint-min-regular-devices: 992px;
$--breakpoint-min-large-devices: 1200px;

@media screen and (max-width: $--breakpoint-min-small-devices) {
  .slick-dots {
    bottom: 0;
    position: relative;

    li {
      margin-bottom: 35px;
    }
  }
}
