.slick-slider {
    position: initial;
    height: var(--height-content);
}

.slick-slide div div {
    &:focus {
        outline:none !important;
    }
}

.slick-dots {
    li {
        width: auto;
    }

    .slick-active:after {
        content: ' ';
        height: 10px;
        width: 10px;
        position: absolute;
        background-color: var(--main-pink-color);
        border-radius: 50%;
        bottom: -15px;
        left: 50%;
        transform: translate(-50%, 0px);
        transition: all ease-in-out 0.2s;
    }
}

.slick-list {
    height: 100%;
}

.slick-arrow {
    background: url('../../ressources/images/button_without_border.png') center center no-repeat!important;
    background-size: cover !important;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: all ease-in-out 0.2s;
}

.slick-next {
    transform: translate(0px, -50%) rotate(-90deg);
    right: -70px;
    //box-shadow: -4px -4px 5px 0px rgba(0,0,0,0.75);

    &:hover {
        // box-shadow: -1px -1px 2px 0px rgba(0,0,0,0.5);
        // top: 51%;
        right: -74px;
    }
  
    &::before {
      display: none;
    }
}
  
.slick-prev {
    transform: translate(0px, -50%) rotate(90deg);
    left: -70px;
    //box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);

    &:hover {
        // box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
        // top: 51%;
        left: -74px;
    }
  
    &::before {
      display: none;
    }
}


$--breakpoint-min-small-devices: 600px;
$--breakpoint-min-medium-devices: 768px;
$--breakpoint-min-regular-devices: 992px;
$--breakpoint-min-large-devices: 1200px;

@media screen and (max-width: $--breakpoint-min-small-devices) {

    .slick-dots {
        display: none !important;
    }

}