.Slide {
    height: var(--height-content);
    width: var(--width-content);
    position: relative;

    .component {
        position: absolute;
        width: 100%;

        &.date {
            height: 20%;

            p {
                position: absolute;
                margin: 0;
                bottom: 0;
            }
        }

        &.image {
            top: 50%;
            transform: translate(0, -50%);
            height: fit-content;
            max-height: 60%;
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
                transform-origin: center center;
            }
        }

        &.techno {
            bottom: 0;
            height: 20%;

            ul {
                display: flex;
                padding: 0;
                margin: 0;
                float: right;

                li {
                    text-decoration: none;
                    list-style: none;
                    margin-left: 10px;
                }
            }
        }
    }
}

$--breakpoint-min-small-devices: 600px;
$--breakpoint-min-medium-devices: 768px;
$--breakpoint-min-regular-devices: 992px;
$--breakpoint-min-large-devices: 1200px;

@media screen and (max-width: $--breakpoint-min-small-devices) {
    .Slide {
        height: var(--height-content);
        width: 100vw;

        .image img {
            width: 200% !important;
            transform: translate(-25%, 0px);
        }
    }
}