.SocialButton {
  padding: 10px;

  a {
    text-decoration: none;
    color: white;

    transition: all ease-in-out 0.2s;

    .circle {
      height: 20px;
      width: 20px;
      background-color: white;
      border-radius: 50%;
      position: absolute;
      transform: translate(-50%, 0px);
      top: 17px;
      transition: all ease-in-out 0.2s;
    }

    img {
      height: 20px;
      width: 20px;
      position: absolute;
      top: 15px;
      transform: translate(-40%, 0px);
      transition: all ease-in-out 0.2s;
    }

    &:hover {
      cursor: pointer;
      .circle {
        transform: scale(1.3) translate(-50%, 0px);
      }

      img {
        transform: scale(1.5) translate(-20%, 0px);
      }
    }
  }

  .text {
    position: absolute;
    top: -70%;
    transform: translate(-50%, 0px);
    opacity: 0;
    transition: all ease-in-out 0.2s;
    cursor: default;
  }

  a:hover ~ .text {
    opacity: 1;
  }
}
