/* VARIABLES */
* {
  --main-dark-color: #3B3C40;
  --main-text-color: white;
  --line-color: white;
  --main-pinky-color: #F27979;
  --main-pink-color: #F24B59;
  --main-light-color : #F2E6CE;
  --main-cold-color: #96D9D9;
 
  --breakpoint-min-small-devices: 600px;
  --breakpoint-min-medium-devices: 768px;
  --breakpoint-min-regular-devices: 992px;
  --breakpoint-min-large-devices: 1200px;
}

@font-face {
  font-family: secondary-font;
  src: url('./ressources/fonts/Reenie_Beanie/ReenieBeanie-Regular.ttf');
  font-weight: lighter;
}

@font-face {
  font-family: main-font;
  src: url('./ressources/fonts/Red_Hat_Text/RedHatText-Regular.ttf');
  font-weight: lighter;
}

html {
  overflow-x: hidden;
  cursor: crosshair;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color : var(--main-text-color);
  /* background-color: var(--main-dark-color); */
  font-family: main-font;
  
}

h1 {
  margin-top: 0;
}

.relative {
  position: relative;
  width: fit-content;
}

.overline{
  color: var(--main-pink-color);
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--main-pink-color);
  font-size: 95pt;
  margin: 0;
  position: absolute;
  top: -11vh;
  left: -15vh;
  opacity: 0.4;
  cursor: crosshair;
}

h1 {
  position: relative;
  width: fit-content;
  cursor: crosshair;
}

.content {
  background-color: rgba(255,255,255,0.2);
  min-height: 55vh;
  width: 60vw;
  margin-left: 20vw;
  margin-top: 8vh;
}


.section {
  min-height: 100vh;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--main-pinky-color); 
  border-right: #F24B59 solid 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-cold-color);
  border-right: #A69897 solid 3px;
}