/* VARIABLES */
* {
  /* rgba(59, 60, 64, 1); */
  --dark: #3b3c40;
  /* rgba(255,255,255,1) */
  --white: white;
  /* rgba(242,75,89,1) */
  --pink: #f24b59;
  /* rgba(242,121,121,1) */
  --light-pink: #f27979;
  /* rgba(150,217,217,1) */
  --blue: #96d9d9;
  /* rgba(242,230,206,1) */
  --little-yellow: #f2e6ce;
  /* rgba(104, 150, 150, 1) */
  --bg-opacity: #689696;

  --height-content: 55vh;
  --width-content: 64vw;

  --social-color: var(--white);

  --project-slide-bottomline-color: var(--white);

  --breakpoint-min-small-devices: 600px;
  --breakpoint-min-medium-devices: 768px;
  --breakpoint-min-regular-devices: 992px;
  --breakpoint-min-large-devices: 1200px;
}

@font-face {
  font-family: main-font;
  src: url('./ressources/fonts/Titillium_Web/TitilliumWeb-Light.ttf');
}

@font-face {
  font-family: secondary-font;
  src: url('./ressources/fonts/Over_the_Rainbow/OvertheRainbow-Regular.ttf');
}

@font-face {
  font-family: tertiary-font;
  src: url('./ressources/fonts/Red_Hat_Text/RedHatText-Regular.ttf');
}

html {
  overflow-x: hidden;
  /* cursor: crosshair; */
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--main-text-color);
  font-family: main-font;
}

p,
li,
h1,
h2 {
  color: var(--main-text-color);
}

h1 {
  margin-top: 0;
  font-family: secondary-font;
}

.relative {
  position: relative;
  width: fit-content;
}

.overline {
  color: var(--main-color);
  font-family: tertiary-font;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--main-color);
  font-size: 95pt;
  margin: 0;
  position: absolute;
  top: -11vh;
  left: -15vh;
  opacity: 0.4;
}

h1 {
  position: relative;
  width: fit-content;
}

.content {
  /* background-color: rgba(255,255,255,0.2); */
  min-height: var(--height-content);
  width: var(--width-content);
  margin-left: 10vw;
  margin-top: 8vh;
  position: relative;
}

.section {
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
  background: var(--dark);
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-right: var(--main-color) solid 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--tertiary-color);
  border-right: var(--secondary-color) solid 3px;
  cursor: default !important;
}
