.Bandeau {
  z-index: 0;
  position: absolute;
  top: 35%;

  ul {
    display: flex;

    li {
      list-style: none;
      padding: 0 3px;
      font-size: 35pt;
      opacity: 0.6;

      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 1px;
    }

    &:last-child {
      display: none;
    }
  }
}

.slide-right {
  -webkit-animation: slide-right 80s linear infinite alternate-reverse;
  animation: slide-right 80s linear infinite alternate-reverse;
}

.slide-left {
  -webkit-animation: slide-left 80s linear infinite alternate-reverse;
  animation: slide-left 80s linear infinite alternate-reverse;
}

$--breakpoint-min-small-devices: 600px;
$--breakpoint-min-medium-devices: 768px;
$--breakpoint-min-regular-devices: 992px;
$--breakpoint-min-large-devices: 1200px;

@media screen and (max-width: $--breakpoint-min-small-devices) {
  .Bandeau {
    width: 100vw;
    top: 70%;

    ul {
      li {
        padding: 0 3px;
        font-size: 15pt;
        -webkit-text-stroke-width: 0px;
        -webkit-text-fill-color: rgba(255, 255, 255, 0.5);
      }

      &:last-child {
        display: flex;
      }
    }

    .slide-right {
      -webkit-animation: slide-right 20s linear infinite alternate-reverse;
      animation: slide-right 20s linear infinite alternate-reverse;
    }

    .slide-left {
      -webkit-animation: slide-left 20s linear infinite alternate-reverse;
      animation: slide-left 20s linear infinite alternate-reverse;
    }
  }
}

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translate(-35%, 0px);
    transform: translate(-35%, 0px);
  }
  100% {
    -webkit-transform: translate(-10%, 0px);
    transform: translate(-10%, 0px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translate(-35%, 0px);
    transform: translate(-35%, 0px);
  }
  100% {
    -webkit-transform: translate(-10%, 0px);
    transform: translate(-10%, 0px);
  }
}

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translate(-10%, 0);
    transform: translate(-10%, 0);
  }
  100% {
    -webkit-transform: translate(-35%, 0);
    transform: translate(-35%, 0);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translate(-10%, 0);
    transform: translate(-10%, 0);
  }
  100% {
    -webkit-transform: translate(-35%, 0);
    transform: translate(-35%, 0);
  }
}
