.SectionResume {
    height: 100vh;
    position: relative;

    .Citation {
        position: absolute;
        left: 40%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

$--breakpoint-min-small-devices: 600px;
$--breakpoint-min-medium-devices: 768px;
$--breakpoint-min-regular-devices: 992px;
$--breakpoint-min-large-devices: 1200px;

@media screen and (max-width: $--breakpoint-min-small-devices) {
    .SectionResume {

        .Citation {
            top: 45%;
        }

    }
}