.SectionDetails {
    height: 100vh;
    position: relative;
    z-index: 0;

    .citations {
        position: absolute;
        left: 40%;
        top: 50%;
        transform: translate(-50%, -50%);

        .Citation {
            .paragraphe {
                padding-bottom: 3vh;
            }

            &:last-child .paragraphe {
                padding-bottom: 0;
            }
        }
    }
}