.slick-active .ProjectSlide .component.image {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}

.slide-slick:not(.slick-active) .ProjectSlide .component.image {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}

.ProjectSlide {
  height: var(--height-content);
  width: var(--width-content);
  position: relative;

  a {
    text-decoration: none;
    color: white;
  }

  .component {
    position: absolute;
    width: 100%;

    &.date {
      height: 20%;

      p {
        font-size: 80pt;
        opacity: 0.1;
        font-weight: bolder;
        -webkit-text-stroke: 3px;
        transform: translate(0px, 3vh);
        position: absolute;
        margin: 0;
        padding-left: 3vw;
      }
    }

    &.image {
      top: 50%;
      transform: translate(0, -50%);
      height: fit-content;
      max-height: 60%;
      border-bottom: 3px solid white;
      transition: all ease 0.3s;

      img {
        height: 100%;
        width: 99%;
        margin: auto;
        transform-origin: center center;
      }
    }

    &.techno {
      bottom: 0;
      height: 20%;

      ul {
        display: flex;
        padding: 0 3vw;
        float: right;

        li {
          text-decoration: none;
          list-style: none;
          margin-left: 10px;
        }
      }
    }
  }
}

$--breakpoint-min-small-devices: 600px;
$--breakpoint-min-medium-devices: 768px;
$--breakpoint-min-regular-devices: 992px;
$--breakpoint-min-large-devices: 1200px;

@media screen and (max-width: $--breakpoint-min-small-devices) {
  .ProjectSlide {
    height: var(--height-content);
    width: 100vw;

    background: var(--main-cold-color-05);

    .component {
      &.date p {
        font-size: 40pt;
        transform: translate(0px, 7vh);
      }

      &.techno ul {
        padding: 0;
        margin: 0 3vw;
      }
    }
  }
}
